{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}Education{% endblock %}
{% block description %}Overview of my educational qualifications.{% endblock %}
{% block keywords %}Education, Qualifications{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="row g-4 g-md-3 align-items-center">
        <div class="col-md-6">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">My Education</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="lightBg">
    <div class="container">
      <div class="educationContentMain">
        <div class="row g-3 g-md-4 g-lg-5 educationRow">
          <div class="col-md-6 educationColMain">
            <div class="educationCol">
              <h2>Bachelor of Technology</h2>
              <p>SRKR Engineering College | Information Technology</p>
              <p>Expected in 2025 - Current CGPA: 8.80</p>
            </div>
          </div>
          <div class="col-md-6 educationColMain">
            <div class="educationCol">
              <h2>Intermediate (MPC)</h2>
              <p>Sri Chaitanya Junior College</p>
              <p>2021 - 963 marks</p>
            </div>
          </div>
          <div class="col-md-6 educationColMain">
            <div class="educationCol">
              <h2>SSC (10th Class)</h2>
              <p>Sri Harshita E.M High School</p>
              <p>2019 - 10 CGPA</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================================
End Content
================================= -->
{% endblock %}
