{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}Projects{% endblock %}
{% block description %}A showcase of my recent projects and technical skills.{% endblock %}
{% block keywords %}Projects, Portfolio, AWS, React, Disaster Recovery{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="row g-4 g-md-3 align-items-center">
        <div class="col-md-6">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">See my recent projects below</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="lightBg">
    <div class="container">
      <div class="portfolioContentMain">
        <div class="row g-3 g-md-4 g-lg-5 portfolioRow d-flex justify-content-between">
          <!-- Project 1 -->
          <div class="col-md-6 pColMain">
            <div class="pCol">
              <h2>Personal Portfolio Website</h2>
              <p>Developed a responsive portfolio using HTML, CSS, JavaScript, Python, and React.js to showcase skills.</p>
              <p><strong>Technologies Used:</strong> Python, C, Java, HTML, CSS, JavaScript, React.js, SQL, MongoDB, AWS</p>
              <p><strong>Additional Skills:</strong> Communication, Problem-Solving, Team Collaboration, Analytical Skills</p>
            </div>
          </div>
      
          <!-- Project 2 -->
          <div class="col-md-6 pColMain">
            <div class="pCol">
              <h2>Disaster Recovery Using AWS Services</h2>
              <p>Utilized AWS services (EC2, S3 Buckets, VPC) for disaster management and recovery.</p>
              <p>Implemented secure data recovery by managing EC2 instances, configuring S3 Buckets for storage, and establishing VPC connections for secure access.</p>
              <p><strong>Technologies Used:</strong> AWS (EC2, S3, VPC)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================================
End Content
================================= -->
{% endblock %}
